.home-wrapper {
  background: #e7edef;
}

.profile-section{
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
}

.top-news-field, .scroll-page{
  background-color: #FFFFFF;
}

.post-input{
  height: 2rem;
}

/* .home-main{
  
} */

/* .profile-img{
  width: 3rem;
} */